<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistente Virtual</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Efecto de fondo con objetos flotantes. no lo toqueeeen--> 
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <!-- este es el titulo de la pagina--> 
    <h1 class="chat-title">¡Hola! Soy GameGuru Bot <br> tu asistente virtual de Samsung Gamer Insights</h1>
    
    <div class="chat-container">
        <div class="chat-box" id="chat-box">
            <div class="chat-message assistant">
                ¡Hola! Soy GameGuru Bot, tu asistente virtual. ¿En qué puedo ayudarte hoy?<br>
                1. Preguntar sobre campeones.<br>
                2. Preguntar sobre objetos.<br>
                3. Contar un chiste.<br>
                4. Preguntar sobre estrategias de juego.<br>
                5. Preguntar sobre matemáticas y más.
            </div>
        </div>
        
        <!-- aca es la barra donde la gente chatea con el asistente--> 
        <input type="text" id="user-input" placeholder="Escribe tu pregunta aquí...">
        <button id="send-button">Enviar</button>
    </div>

    <!-- pie de pagina, piedes colocar algo que creas importante no se me ocurrio que colocar jajaja--> 
    <footer class="footer">
        <p>© 2025 Samsung Gamer Insights. Todos los derechos reservados.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>





